<%- include('../includes/first-part.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>
      <main>
        <h3> ➣&nbsp&nbsp<%= menuTitle %></h3>
        <hr />
        <% if (errorMessage) { %>
          <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="auth-form" action="/login" method="POST">
          <div class="form-control auth-logo-container">
            <img src="/img/logo_black.png" alt="logo" width="100%">
          </div>
          <div class="form-control">
              <label for="email">이메일</label>
              <input type="email" name="email" id="email">
          </div>
          <div class="form-control">
              <label for="password">비밀번호</label>
              <input type="password" name="password" id="password">
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="auth-btn" type="submit">Login</button>
        </main>
    </div>

  <%- include('../includes/end-part.ejs') %>
