<%- include('../includes/first-part.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <header>
      <div class="header-container">
        <div class="logo-container">
          <a href="/">
            <img src="/img/logo_black.png" alt="DPLAN logo" height="40px" />
          </a>
        </div>
      </div>
    </header>

    <div class="container">
      
      <%- include('../includes/menu-title.ejs') %>

        <%- include('../includes/message.ejs') %>

        <form class="auth-form" action="/new-password" method="POST" autocomplete="off">
          <div class="form-control auth-logo-container">
            <img src="/img/logo_black.png" alt="logo" width="100%">
          </div>
          <div class="form-control">
              <label for="password">비밀번호</label>
              <input type="password" name="password">
          </div>
          <div class="form-control">
              <label for="confirmPassword">비밀번호 확인</label>
              <input type="password" name="confirmPassword">
          </div>
          <input type="hidden" name="userId" value="<%= userId %>">
          <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="auth-btn" type="submit">비밀번호 재설정</button>
        </form>
      </main>
    </div>

  <%- include('../includes/end-part.ejs') %>
