<%- include('../includes/first-part.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      
      <%- include('../includes/menu-title.ejs') %>

        <%- include('../includes/message.ejs') %>

        <form class="auth-form" action="/reset-password" method="POST" autocomplete="off">
          <div class="form-control auth-logo-container">
            <img src="/img/logo_black.png" alt="logo" width="100%">
          </div>
          <br>
          <br>
          <div class="form-control">
              <label for="email">이메일</label>
              <input type="email" name="email">
          </div>
          <br>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="auth-btn" type="submit">비밀번호 변경요청</button>
        </form>
      </main>
    </div>

  <%- include('../includes/end-part.ejs') %>
