<%- include('../includes/first-part.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>
      <main>
        <h3> ➣&nbsp&nbsp<%= menuTitle %></h3>
        <hr />
        <% if (errorMessage) { %>
          <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="auth-form" action="/admin/user-signup" method="POST" autocomplete="off">
          <div class="form-control auth-logo-container">
            <img src="/img/logo_black.png" alt="logo" width="100%">
          </div>
          <div class="form-control">
              <label for="name">이름</label>
              <input type="name" name="name">
          </div>
          <div class="form-control">
              <label for="email">이메일</label>
              <input type="email" name="email">
          </div>
          <div class="form-control">
              <label for="team">담당팀</label>
              <select name="team">
                <% teams.forEach(team => { %>
                  <option value="<%= team.id %>"><%= team.name %></option>
                <% }) %>
              </select>
          </div>
          <div class="form-control">
              <label for="leader">접근권한</label>
              <select name="leader">
                <option value="1">팀장</option>
                <option value="0">팀원</option>
              </select>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="auth-btn" type="submit">사용자 등록</button>
        </main>
    </div>

  <%- include('../includes/end-part.ejs') %>
