<%- include('../includes/first-part.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>

        <%- include('../includes/message.ejs') %>
        
        <form class="auth-form" <%= editing ? "style=padding-bottom:0;" : "" %> action="/admin/<%= editing ? 'edit-user' : 'user-signup' %>" method="POST" autocomplete="off">
          <div class="form-control auth-logo-container">
            <img src="/img/logo_black.png" alt="logo" width="100%">
          </div>
          <div class="form-control">
              <label for="name">이름</label>
              <input type="name" name="name" value="<%= editing ? user.name : '' %>" required>
          </div>
          <div class="form-control">
              <label for="email">이메일</label>
              <input type="email" name="email" value="<%= editing ? user.email : '' %>" required>
          </div>
          <div class="form-control">
              <label for="team">담당팀</label>
              <select name="teamId">
                <% teams.forEach(team => { %>
                  <option value="<%= team.id %>" <%= editing && user.teamId === team.id ? 'selected' : '' %>><%= team.name %></option>
                <% }) %>
              </select>
          </div>
          <div class="form-control">
              <label for="leader">접근권한</label>
              <select name="leader">
                <option value="1" <%= editing && user.leader == '1' ? 'selected' : '' %>>팀장</option>
                <option value="0" <%= editing && user.leader == '0' ? 'selected' : '' %>>팀원</option>
              </select>
          </div>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <% if (editing) { %>
            <input type="hidden" name="userId" value="<%= user.id %>">
          <% } %>
          <button class="auth-btn" type="submit">사용자 <%= editing ? '수정' : '등록' %></button>
        </form>
        <% if (editing) { %>
          <form class="auth-form" style="padding-top:0" action="/admin/delete-user" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="userId" value="<%= user.id %>">
            <button class="auth-btn auth-alert-btn" type="submit">사용자 삭제</button>
          </form>
        <% } %>
      </main>
    </div>
    </div>

  <%- include('../includes/end-part.ejs') %>
