<%- include('../includes/first-part.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>

        <%- include('../includes/message.ejs') %>
        
        <form class="auth-form" action="/admin/<%= editing ? 'edit-user' : 'user-signup' %>" method="POST" autocomplete="off">
          <div class="form-control auth-logo-container">
            <img src="/img/logo_black.png" alt="logo" width="100%">
          </div>
          <div class="form-control">
              <label for="name">이름</label>
              <input type="name" name="name" value="<%= editing ? user.name : '' %>">
          </div>
          <div class="form-control">
              <label for="email">이메일</label>
              <input type="email" name="email" value="<%= editing ? user.email : '' %>">
          </div>
          <div class="form-control">
              <label for="team">담당팀</label>
              <select name="teamId">
                <% teams.forEach(team => { %>
                  <option value="<%= team.id %>" <%= editing && user.teamId === team.id ? 'selected' : '' %>><%= team.name %></option>
                <% }) %>
              </select>
          </div>
          <div class="form-control">
              <label for="leader">접근권한</label>
              <select name="leader">
                <option value="1" <%= editing && user.leader == '1' ? 'selected' : '' %>>팀장</option>
                <option value="0" <%= editing && user.leader == '0' ? 'selected' : '' %>>팀원</option>
              </select>
          </div>
          <% if (editing) { %>
            <input type="hidden" name="userId" value="<%= user.id %>">
            <div class="form-control">
                <label for="blockAuth">시스템 블록해제</label>
                <select name="blockAuth">
                  <option value="1" <%= user.block_auth == '1' ? 'selected' : '' %>>허가</option>
                  <option value="0" <%= user.block_auth == '0' ? 'selected' : '' %>>차단</option>
                </select>
            </div>
          <% } %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="auth-btn" type="submit">사용자 <%= editing ? '수정' : '등록' %></button>
        </form>
      </main>
    </div>

  <%- include('../includes/end-part.ejs') %>
