<%- include('../includes/first-part.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>
      <main>
        <h3> ➣&nbsp&nbsp<%= menuTitle %></h3>
        <hr />
        <% if (successMessage) { %>
          <div class="user-message user-message--success"><%= successMessage %></div>
        <% } %>
        <% if (errorMessage) { %>
          <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="auth-form" action="/admin/add-team" method="POST" autocomplete="off">
          <div class="form-control auth-logo-container">
            <img src="/img/logo_black.png" alt="logo" width="100%">
          </div>
          <br>
          <br>
          <div class="form-control">
              <label for="name">팀 이름</label>
              <input type="name" name="name">
          </div>
          <br>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <button class="auth-btn" type="submit">팀 등록</button>
        </form>
      </main>
    </div>

  <%- include('../includes/end-part.ejs') %>
