<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>
      <main>
        <h3> ➣&nbsp&nbsp<%= menuTitle %></h3>
        <hr />
          <div class="v-part result-part">
            <table class="has-margin">
              <tr>
                <th class="v-header">업체명</th>
                <th class="v-header s">결제조건</th>
                <th class="v-header s">입금형태</th>
                <th class="v-header xs">계산서<br>발행</th>
                <th class="v-header">계산서 발행처</th>
                <th class="v-header">비고</th>
                <th class="v-header xs">수정</th>
                <th class="v-header xs">삭제</th>
              </tr>

              <% agencies.forEach(agency => { %>
                <tr>
                  <td><%= agency.name %></td>
                  <td><%= agency.pay_condition %></td>
                  <td><%= agency.deposit_type %></td>
                  <td><%= agency.bill_type %></td>
                  <td><%= agency.bill_publisher %></td>
                  <td><%= agency.memo %></td>
                  <td>
                    <a href="/admin/edit-agency/<%= agencies.id %>?edit=true">
                      <button class="btn" type="button">
                        수정
                      </button>
                      </a>
                   </td>
                  <td>
                    <form action="/admin/delete-agency" method="POST">
                      <input type="hidden" value="<%= agencies.id %>" name="agencyId">
                      <button class="btn alert-btn" type="submit">삭제</button>
                    </form>
                   </td>
                </tr>
              <% }) %>
            </table>
          </div>
        </main>
    </div>

  <%- include('../includes/end-part.ejs') %>
