<%- include('../includes/first-part.ejs') %>
<link rel="stylesheet" href="/css/auth.css">
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>
      
      <%- include('../includes/menu-title.ejs') %>

        <%- include('../includes/message.ejs') %>

        <form class="auth-form" <%= editing ? "style=padding-bottom:0;" : "" %> action="/admin/<%= editing ? 'edit-team' : 'add-team' %>" method="POST" autocomplete="off">
          <div class="form-control auth-logo-container">
            <img src="/img/logo_black.png" alt="logo" width="100%">
          </div>
          <br>
          <br>
          <div class="form-control" style="position:relative">
              <label for="name">팀 이름</label>
              <input type="name" name="name" value="<%= editing ? team.name : '' %>" required>
              <p style="position:absolute;right:5px;bottom:3px;font-size:12px">팀</p>
          </div>
          <br>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <% if (editing) { %>
            <input type="hidden" name="teamId" value="<%= team.id %>">
          <% } %>
          <button class="auth-btn" type="submit">팀 <%= editing ? '수정' : '등록' %></button>
        </form>
        <% if (editing) { %>
          <form class="auth-form" style="padding-top:0" action="/admin/delete-team" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="teamId" value="<%= team.id %>">
            <button class="auth-btn auth-alert-btn" type="submit">팀 삭제</button>
          </form>
        <% } %>
      </main>
    </div>

  <%- include('../includes/end-part.ejs') %>
