<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/modal.css" />
  </head>
  <body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>
      
          <div class="result-part">
            <table>
              <tr>
                <th class="v-header xxl">업체명</th>
                <th class="v-header xs">결제조건</th>
                <th class="v-header xs">입금형태</th>
                <th class="v-header xl">계산서 발행</th>
                <th class="v-header xl">계산서 발행처</th>
                <th class="v-header xxl">비고</th>
                <% if (isLeader) { %>
                <th class="v-header xs">수정</th>
                <th class="v-header xs">삭제</th>
                <% } %>
              </tr>

              <% agencies.forEach(agency => { %>
                <tr>
                  <td><%= agency.name %></td>
                  <td><%= agency.pay_condition %></td>
                  <td><%= agency.deposit_type %></td>
                  <td><%= agency.bill_type %></td>
                  <td><%= agency.bill_publisher %></td>
                  <td><%= agency.memo %></td>
                  <% if (isLeader) { %>
                    <td style="padding:0">
                    <a href="/admin/edit-agency/<%= agency.id %>?edit=true">
                      <button class="btn" type="button">
                        수정
                      </button>
                      </a>
                   </td>
                   <td style="padding:0">
                    <form action="/admin/delete-agency" method="POST">
                      <input type="hidden" value="<%= agency.id %>" name="agencyId">
                      <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                      <button class="btn alert-btn" type="button">삭제</button>
                    </form>
                   </td>
                   <% } %>
                </tr>
              <% }) %>
            </table>
          </div>
        </main>
    </div>
    </div>
    <% if (isLeader) { %>
    <script src="/js/admin/alert-modal.js"></script>
    <% } %>
  <%- include('../includes/end-part.ejs') %>
