<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>
        
        <div class="user-table-container"">
          <% teams.forEach(team => { %>
          <div class="user-team-table">
            <table>
              <tr>
                <th class="team-table-header"><a href="/admin/edit-team/<%= team.id %>?edit=true"><%= team.dataValues.name %> 팀</a></th>
              </tr>
              <% for (let i=0; i < memberMax; i++) { %>
                <tr>
                  <% if (i < team.users.length) { %>
                    <td class="<%= team.users[i].leader ? 'user-cell leader' : 'user-cell' %>"><a href="/admin/edit-user/<%= team.users[i].id %>?edit=true"><div><%= team.users[i].name %></div></a></td>
                  <% } else { %>
                    <td></td>
                  <% } %>
                </tr>
              <% } %>
            </table>
          </div>
          <% }) %>  
        </div>
      </main>
    </div>
    </div>

  <%- include('../includes/end-part.ejs') %>
