<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/auto-complete/autocomplete.css">
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>
      <main>
        <h3> ➣&nbsp&nbsp<%= menuTitle %></h3>
        <hr />
        <form action="/add-campaign" method="POST" onkeydown="return event.key != 'Enter';" autocomplete="off">
          <div class="h-part">
            <table id="cam-table">
                <td class="h-header">캠페인구분</td>
                <td class="h-content">
                  <div>
                    <input type="radio" name="cam_type" value="대행" checked/>대행
                    <input type="radio" name="cam_type" value="직거래" />직거래
                    <input type="radio" name="cam_type" value="계산서경유" />계산서경유
                    <input type="radio" name="cam_type" value="인터랩" />인터랩
                  </div>
                </td>
                <td class="h-header">담당팀</td>
                <td class="h-content">
                  <input type="text" name="team_name" value="<%= teamName %>" readonly/>
                </td>
                <td class="h-header">담당자</td>
                <td class="h-content">
                  <input type="text" name="user_name" value="<%= userName %>" readonly/>
                </td>
              </tr>
              <tr>
                <td class="h-header">광고주</td>
                <td class="h-content">
                  <input class="max-width" type="text" name="cam_advertiser" id="cam-advertiser" />
                </td>
                <td class="h-header">업종(대분류)</td>
                <td class="h-content">
                  <input type="text" name="cam_main_cat" id="cam-main-cat" value="" readonly/>
                </td>
                <td class="h-header">업종(소분류)</td>
                <td class="h-content">
                  <input type="text" name="cam_sub_cat" id="cam-sub-cat" value="" readonly/>
                </td>
              </tr>
              <tr>
                <td class="h-header">캠페인명</td>
                <td class="h-content">
                  <input class="max-width" type="text" name="cam_title" id="cam-title" />
                </td>
                <td class="h-header">대행사</td>
                <td class="h-content">
                  <input class="max-width" type="text" name="cam_agency" id="cam-agency" />
                </td>
                <td class="h-header">캠페인기간</td>
                <td class="h-content">
                  <input
                    class="input-date"
                    type="date"
                    name="cam_start_date"
                    id="cam-start-date"
                  />
                  &nbsp~&nbsp
                  <input
                    class="input-date"
                    type="date"
                    name="cam_end_date"
                    id="cam-end-date"
                  />
                  &nbsp&nbsp
                  <button style="font-size: 10px; padding: 1px 2px;" type="button" id="set-date">맞춤</button>
                </td>
              </tr>
              <tr>
                <td class="h-header">광고수주액</td>
                <td class="h-content">
                  <input
                    class="input-num max-ninety-width"
                    type="text"
                    name="cam_ad_total"
                    value="0"
                    readonly
                    id="cam-ad-total"
                  />&nbsp&nbsp원
                </td>
                <td class="h-header">대행사 수수료</td>
                <td class="h-content">
                  <input
                    class="input-num"
                    type="text"
                    name="cam_agency_fee_rate"
                    value="0"
                    readonly
                    id="cam-agency-fee-rate"
                    size="4"
                  />&nbsp&nbsp%&nbsp&nbsp&nbsp&nbsp
                  <input
                    class="input-num max-ninety-width"
                    type="text"
                    name="cam_agency_fee"
                    value="0"
                    readonly
                    id="cam-agency-fee"
                    size="12"
                  />&nbsp&nbsp원
                </td>
                <td class="h-header">대행사 세금계산서 발행월</td>
                <td class="h-content">
                  <input class="input-date" type="month" name="cam_tax_month" />
                  &nbsp&nbsp
                  <select name="media_issue_type" id="media-issue-type">
                    <option value="전액">전액</option>
                    <option value="순액">순액</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td class="h-header">등록일</td>
                <td class="h-content">
                  <input class="input-date" type="date" name="cam_date" id="cam-date" readonly>
                </td>
                <td class="h-header"></td>
                <td></td>
                <td class="h-header"></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div style="margin: 10px 7%">
            <button type="button" id="media-modal-btn">매체추가</button>
          </div>
          <div class="v-part">
            <table id="media-table">
              <tr>
                <th class="v-header" rowspan="2" style="width: 94px;">매체명</th>
                <th class="v-header" colspan="2">기간</th>
                <th class="v-header" colspan="2">인터랩</th>
                <th class="v-header" rowspan="2" style="width: 174px;">매체발행월</th>
                <th class="v-header" colspan="4">수수료율</th>
                <th class="v-header" rowspan="2" style="width: 94px">광고수주액</th>
                <th class="v-header" colspan="4">수익배분액</th>
                <th class="v-header" rowspan="2" style="width: 84px">구글CID</th>
                <th class="v-header" rowspan="2" style="width: 84px">비고</th>
                <th class="v-header" rowspan="2" style="width: 44px;">삭제</th>
              </tr>
              <tr>
                <th class="v-header" style="width:120px">시작일</th>
                <th class="v-header" style="width:120px">종료일</th>
                <th class="v-header" style="width:45px">구분</th>
                <th class="v-header" style="width:94px">인터랩</th>
                <th class="v-header" style="width:41px">대행사</th>
                <th class="v-header" style="width:41px">매체</th>
                <th class="v-header" style="width:41px">디플랜</th>
                <th class="v-header" style="width:41px">인터렙</th>
                <th class="v-header" style="width:94px">대행사수수료</th>
                <th class="v-header" style="width:94px">매체수수료</th>
                <th class="v-header" style="width:94px">순매출</th>
                <th class="v-header" style="width:94px">인터렙수수료</th>
              </tr>
              <tr>
                <th class="v-total">Total</th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total input-num" id="lower-agency-fee-rate-sum">
                  0
                </th>
                <th class="v-total input-num" id="lower-media-fee-rate-sum">0</th>
                <th class="v-total input-num" id="lower-dplan-fee-rate-sum">
                  0
                </th>
                <th class="v-total input-num" id="lower-inter-fee-rate-sum">
                  0
                </th>
                <th class="v-total input-num" id="lower-ad-fee-sum">0</th>
                <th class="v-total input-num" id="lower-agency-fee-sum">0</th>
                <th class="v-total input-num" id="lower-media-fee-sum">0</th>
                <th class="v-total input-num" id="lower-dplan-fee-sum">0</th>
                <th class="v-total input-num" id="lower-inter-fee-sum">0</th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
              </tr>
            </table>
          </div>
          <div class="submit-btns">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit">저장</button>
            <a href="/" ><button>취소</button></a>
          </div>
          <input type='hidden' name="media_count" id="media-count" value='0'/>
        </form>
        </main>
      </div>
      <div id="advertiser-ul" hidden>
        <% advertisers.forEach(advertiser => { %>
          <ul>
            <li><%= advertiser.name %></li>
            <li><%= advertiser.main_category %></li>
            <li><%= advertiser.sub_category %></li>
          </ul>
        <% }) %> 
      </div>
      <div id="agency-ul" hidden>
        <% agencies.forEach(agency => { %>
          <ul>
            <li><%= agency.name %></li>
            <li><%= agency.pay_condition %></li>
            <li><%= agency.deposit_type %></li>
            <li><%= agency.bill_type %></li>
          </ul>
        <% }) %> 
      </div>
      <div id="main-ul" hidden>
        <% mains.forEach(main =>{ %>
          <ul>
            <li><%= main.id %></li>
            <li><%= main.name %></li>
          </ul>
        <% }) %>
      </div>
      <div id="sub-ul" hidden>
        <% subs.forEach(sub =>{ %>
          <ul>
            <li><%= sub.id %></li>
            <li><%= sub.name %></li>
          </ul>
        <% }) %>
      </div>
      <div id="media-ul" hidden>
        <% media.forEach(medium =>{ %>
          <ul>
            <li><%= medium.name %></li>
            <li><%= medium.pay_condition %></li>
            <li><%= medium.bill_type %></li>
            <li><%= medium.provide_fee_rate %></li>
            <li><%= medium.inter_type %></li>
            <li><%= medium.inter_name %></li>
            <li><%= medium.agency_fee_rate %></li>
            <li><%= medium.media_fee_rate %></li>
            <li><%= medium.dplan_fee_rate %></li>
            <li><%= medium.inter_fee_rate %></li>
          </ul>
          <% }) %>
      </div>
    <script src="/auto-complete/autocomplete.js"></script>
    <script src="/js/work/add-campaign.js"></script>
    <script src="/js/work/media-modal.js"></script>
    

  <%- include('../includes/end-part.ejs') %>
