<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>
      
        <form action="/advertiser-sales" method="GET" onkeydown="return event.key != 'Enter';" style="height: 100%;">
          
          <div class="sort-line">
            <select name="type">
              <option value="attribution" <%= sortInfo.type === "attribution" ? "selected" : "" %>>매출 귀속월</option>
              <option value="taxdate" <%= sortInfo.type === "taxdate" ? "selected" : "" %>>대행사 발행월</option>
            </select>
            <select name="year">
              <% for (let i = 2019 ; i <= new Date().getFullYear()+1 ; i++) { %>
                <option value="<%= i %>" <%= Number(sortInfo.year) === i ? "selected" : "" %>><%= i %></option>
              <% } %>
            </select>
            <select name="team">
              <option value="" <%= sortInfo.team === "" ? "selected" : "" %>>팀 전체</option>
              <% teams.forEach(team => { %>
                <option value="<%= team.id %>" <%= sortInfo.team == team.id ? "selected" : "" %>><%= team.name %> 팀</option>  
              <% }) %>
            </select>
            <select name="period">
              <option value="quarter" <%= sortInfo.period == "quarter" ? "selected" : "" %>>분기</option>
              <option value="month" <%= sortInfo.period == "month" ? "selected" : "" %>>월</option>
            </select>
            <select name="main" id="main_category">
              <option value="" <%= sortInfo.main === "" ? "selected" : "" %>>업종대분류</option>
              <% mains.forEach(main => { %>
                <option value="<%= main.id %>" <%= main.id === Number(sortInfo.main) ? "selected" : "" %>><%= main.name %></option>
              <% }) %>
            </select>
            <select name="sub" id="sub_category">
              <option value="" <%= sortInfo.sub === "" ? "selected" : "" %>>업종소분류</option>
              <% subs.forEach(sub => { %>
                <option class='<%= sub.adMainCategoryId === Number(sortInfo.main) ? "" : "deactive" %>' value="<%= sub.id %>" main="<%= sub.adMainCategoryId %>" <%= sub.id === Number(sortInfo.sub) ? "selected" : "" %>><%= sub.name %></option>
              <% }) %>
            </select>
            <button type="submit">조회</button>
          </div>

          <div class="excel-download-wrapper">
            <div class="excel-download" id="excel-download" name="광고주별_매출">엑셀 다운로드</div>
          </div>
        
          <div class="v-part result-part scrollable" style="height: calc(100% - 7.5rem);">
            <table id="result-table">
              <tr>
                <th class="v-header" colspan="4">전체</th>
                <% if (sortInfo.period === "" || sortInfo.period === "quarter") { %>
                  <% for (let i = 1 ; i <= 4 ; i++) { %>
                    <th class="v-header" colspan="3"><%= i %>분기</th>
                  <% } %>
                <% } else { %>
                  <% for (let i = 1 ; i <= 12 ; i++) { %>
                    <th class="v-header" colspan="3"><%= i %>월</th>
                  <% } %>
                <% } %>
              </tr>
              <tr>
                <th class="v-total" style="font-weight: bold;">합계</th>
                <% total.forEach((term, idx) => { %>
                  <th><a href="/sales?type=<%= sortInfo.type %>&team=<%= sortInfo.team %>&year=<%= sortInfo.year %>&period=<%= idx === 0 ? '' : sortInfo.period === 'quarter' ? `quarter-${idx}` : `month-${idx}` %>"><%= new Intl.NumberFormat().format(term.adSum) %></a></th>
                  <th><%= new Intl.NumberFormat().format(term.dplanSum) %></th>
                  <th><%= term.adSum === 0 || term.dplanSum < 0 ? "0.00" : (term.dplanSum / term.adSum * 100).toFixed(2) %> %</th>
                <% }) %>
              </tr>
              <tr>
                <th class="v-header">광고주</th>
                <% if (sortInfo.period === "" || sortInfo.period === "quarter") { %>
                  <% for (let i = 0 ; i <= 4 ; i++) { %>
                    <th class="v-header">광고수주액</th>
                    <th class="v-header">순매출</th>
                    <th class="v-header">수익률</th>
                  <% } %>
                <% } else { %>
                  <% for (let i = 0 ; i <= 12 ; i++) { %>
                    <th class="v-header">광고수주액</th>
                    <th class="v-header">순매출</th>
                    <th class="v-header">수익률</th>
                  <% } %>
                <% } %>
              </tr>
              <% advertisers.forEach(advertiser => { %>
                <tr>
                  <td class="v-total" style="font-weight: bold;"><%= advertiser.name %></td>
                  <% advertiser.period.forEach((term, idx) => { %>
                    <td><a href="/sales?type=<%= sortInfo.type %>&team=<%= sortInfo.team %>&year=<%= sortInfo.year %>&period=<%= idx === 0 ? '' : sortInfo.period === 'quarter' ? `quarter-${idx}` : `month-${idx}` %>&advertiser=<%= advertiser.id %>"><%= new Intl.NumberFormat().format(term.adSum) %></a></td>
                    <td><%= new Intl.NumberFormat().format(term.dplanSum) %></td>
                    <td><%= term.adSum === 0 || term.dplanSum < 0 ? "0.00" : (term.dplanSum / term.adSum * 100).toFixed(2) %> %</td>
                  <% }) %>
                </tr>
              <% }) %>
            </table>
          </div>
        </form>
      </main>
    </div>
    </div>

    <script src="/js/admin/edit-advertiser.js"></script>
    <script src="/js/work/excel-download.js"></script>

  <%- include('../includes/end-part.ejs') %>
