<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/auto-complete/autocomplete.css">
  </head>
  <body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>
      
          <div class="h-part sort-part">
            <table id="cam-table">
                <td class="h-header">캠페인구분</td>
                <td class="h-content">
                  <%= campaign.type %>
                </td>
                <td class="h-header">담당팀</td>
                <td class="h-content">
                  <%= campaign.team.name %> 팀
                </td>
                <td class="h-header">담당자</td>
                <td class="h-content">
                  <%= campaign.pic %>
                </td>
              </tr>
              <tr>
                <td class="h-header">광고주</td>
                <td class="h-content">
                  <%= campaign.advertiser.name %>
                </td>
                <td class="h-header">업종(대분류)</td>
                <td class="h-content">
                  <%= campaign.advertiser.adSubCategory.adMainCategory.name %>
                </td>
                <td class="h-header">업종(소분류)</td>
                <td class="h-content">
                  <%= campaign.advertiser.adSubCategory.name %>
                </td>
              </tr>
              <tr>
                <td class="h-header">캠페인명</td>
                <td class="h-content">
                  <%= campaign.title %>
                </td>
                <td class="h-header">대행사</td>
                <td class="h-content">
                  <%= campaign.agency.name %>
                </td>
                <td class="h-header">캠페인기간</td>
                <td class="h-content">
                  <%= campaign.period_begin.getFullYear() %>년 <%= campaign.period_begin.getMonth()+1 %>월 <%= campaign.period_begin.getDate() %>일
                  &nbsp~&nbsp
                  <%= campaign.period_end.getFullYear() %>년 <%= campaign.period_end.getMonth()+1 %>월 <%= campaign.period_end.getDate() %>일
                </td>
              </tr>
              <tr>
                <td class="h-header">광고수주액</td>
                <td class="h-content">
                  <%= new Intl.NumberFormat().format(campaign.ad_fee) %>&nbsp&nbsp원
                </td>
                <td class="h-header">대행사 수수료</td>
                <td class="h-content">
                  <%= (campaign.agency_fee/campaign.ad_fee*100).toFixed(2) %>&nbsp%
                  &nbsp/&nbsp
                  <%= new Intl.NumberFormat().format(campaign.agency_fee) %>&nbsp원
                </td>
                <td class="h-header">대행사 세금계산서 발행월</td>
                <td class="h-content">
                  <%= campaign.tax_date.getFullYear() %>년 <%= campaign.tax_date.getMonth()+1 %>월
                  (<%= campaign.issue_type %>)
                </td>
              </tr>
              <tr>
                <td class="h-header">등록일</td>
                <td class="h-content">
                  <%= campaign.createdAt.getFullYear() %>년 <%= campaign.createdAt.getMonth()+1 %>월 <%= campaign.createdAt.getDate() %>일 (<%= campaign.pic %>)
                </td>
                <td class="h-header">수정일</td>
                <td class="h-content">
                  <%= campaign.updatedAt.getFullYear() %>년 <%= campaign.updatedAt.getMonth()+1 %>월 <%= campaign.updatedAt.getDate() %>일 (<%= campaign.writer %>)
                </td>
                <td class="h-header">상태</td>
                <td class="h-content">
                  <%= Date.now() >= campaign.period_end ? '[마감]' : (Date.now() >= campaign.period_begin ? '[진행중]' : '[예정]') %>
                </td>
              </tr>
            </table>
          </div>

          <div style="margin: 10px 3%">
            <a href="/edit-campaign/<%= campaign.id %>?edit=true"><button class="btn" type="button" style="font-size:13px; padding:2px 4px">수정하기</button></a>
            <form action="/delete-campaign/<%= campaign.id %>" method="POST" style="display: inline;">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button class="btn alert-btn" type="button" id="delete-button" style="font-size:13px; padding:2px 4px">삭제하기</button>
            </form>
          </div>

          <div class="v-part scrollable">
            <table id="media-table">
              <tr>
                <th class="v-header" rowspan="2" style="width: 7rem;">매체명</th>
                <th class="v-header" colspan="2">기간</th>
                <th class="v-header" colspan="2">인터랩</th>
                <th class="v-header" rowspan="2" style="width: 8.8rem;">매체발행월</th>
                <th class="v-header" rowspan="2" style="width: 8.8rem;">매체입금일</th>
                <th class="v-header" rowspan="2" style="width: 8.8rem;">귀속시기</th>
                <th class="v-header" rowspan="2" style="width: 8.8rem;">대행사입금일</th>
                <th class="v-header" colspan="4">수수료율 (%)</th>
                <th class="v-header" rowspan="2" style="width: 6.9rem">광고수주액</th>
                <th class="v-header" colspan="4">수익배분액</th>
                <th class="v-header" rowspan="2" style="width: 4.7rem">구글CID</th>
                <th class="v-header" rowspan="2" style="width: 5.9rem">비고</th>
              </tr>
              <tr>
                <th class="v-header" style="width:8.8rem">시작일</th>
                <th class="v-header" style="width:8.8rem">종료일</th>
                <th class="v-header" style="width:4rem">구분</th>
                <th class="v-header" style="width:8.8rem">인터랩</th>
                <th class="v-header" style="width:3.9rem">대행사</th>
                <th class="v-header" style="width:3.9rem">매체</th>
                <th class="v-header" style="width:3.9rem">디플랜</th>
                <th class="v-header" style="width:3.9rem">인터렙</th>
                <th class="v-header" style="width:6.9rem">대행사수수료</th>
                <th class="v-header" style="width:6.9rem">매체수수료</th>
                <th class="v-header" style="width:6.9rem">순매출</th>
                <th class="v-header" style="width:6.9rem">인터렙수수료</th>
              </tr>
              <% mediaItems.forEach(mediaItem => { %>
                <tr>
                  <td><%= mediaItem.medium.name %></td> 
                  <td><%= mediaItem.media_start.getFullYear() %>년 <%= mediaItem.media_start.getMonth()+1 %>월 <%= mediaItem.media_start.getDate() %>일</td>
                  <td><%= mediaItem.media_end.getFullYear() %>년 <%= mediaItem.media_end.getMonth()+1 %>월 <%= mediaItem.media_end.getDate() %>일</td>
                  <td><%= mediaItem.inter_type %></td>
                  <td><%= mediaItem.inter_name %></td>
                  <td><%= mediaItem.issue_date.getFullYear() %>년 <%= mediaItem.issue_date.getMonth()+1 %>월 (<%= mediaItem.issue_type %>)</td>
                  <td><%= mediaItem.media_deposit_date.getFullYear() %>년 <%= mediaItem.media_deposit_date.getMonth()+1 %>월 <%= mediaItem.media_deposit_date.getDate() %>일</td>
                  <td><%= mediaItem.attribution_time.getFullYear() %>년 <%= mediaItem.attribution_time.getMonth()+1 %>월</td>
                  <td><%= mediaItem.agency_deposit_date.getFullYear() %>년 <%= mediaItem.agency_deposit_date.getMonth()+1 %>월 <%= mediaItem.agency_deposit_date.getDate() %>일</td>
                  <td><%= (mediaItem.agency_fee / mediaItem.ad_fee * 100).toFixed(2) %></td>
                  <td><%= (mediaItem.media_fee / mediaItem.ad_fee * 100).toFixed(2) %></td>
                  <td><%= (mediaItem.dplan_fee / mediaItem.ad_fee * 100).toFixed(2) %></td>
                  <td><%= (mediaItem.inter_fee / mediaItem.ad_fee * 100).toFixed(2) %></td>
                  <td><%= mediaItem.ad_fee %></td>
                  <td><%= mediaItem.agency_fee %></td>
                  <td><%= mediaItem.media_fee %></td>
                  <td><%= mediaItem.dplan_fee %></td>
                  <td><%= mediaItem.inter_fee %></td>
                  <td><%= mediaItem.google_cid %></td>
                  <td><input value="<%= mediaItem.memo %>" readonly></td>
                </tr>
              <% }) %>
              <tr>
                <th class="v-total">Total</th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total" id="agency-fee-rate-sum"></th>
                <th class="v-total" id="media-fee-rate-sum"></th>
                <th class="v-total" id="dplan-fee-rate-sum"></th>
                <th class="v-total" id="inter-fee-rate-sum"></th>
                <th class="v-total" id="ad-fee-sum"></th>
                <th class="v-total" id="agency-fee-sum"></th>
                <th class="v-total" id="media-fee-sum"></th>
                <th class="v-total" id="dplan-fee-sum"></th>
                <th class="v-total" id="inter-fee-sum"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
              </tr>
            </table>
          </div>
        </main>
      </div>
      </div>

      <script src="/js/admin/alert-modal.js"></script>
      <script src="/js/num-format.js"></script>
      <script src="/js/work/campaign.js"></script>

  <%- include('../includes/end-part.ejs') %>
