<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/auto-complete/autocomplete.css">
  </head>
  <body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>
      
        <form action="/<%= editing ? 'edit-campaign' : 'add-campaign' %>" method="POST" onkeydown="return event.key != 'Enter';" autocomplete="off">
          <input type="hidden" id="block" value="<%= editing && ( Date.parse(campaign.tax_date) < blockCondition || blockAuth ) ? 'true' : '' %>">
          <% if (editing) { %>
            <input type="hidden" name="campaign_id" value="<%= campaign.id %>">
          <% } %>
          <div class="h-part sort-part">
            <table id="cam-table">
                <td class="h-header">캠페인구분</td>
                <td class="h-content">
                  <div>
                    <input type="radio" name="cam_type" value="대행" <%= editing && campaign.type !== "대행" ? "" : "checked" %>/>대행
                    <input type="radio" name="cam_type" value="직거래" <%= editing && campaign.type === "직거래" ? "checked" : "" %>/>직거래
                    <input type="radio" name="cam_type" value="계산서경유" <%= editing && campaign.type === "계산서경유" ? "checked" : "" %>/>계산서경유
                    <input type="radio" name="cam_type" value="인터랩" <%= editing && campaign.type === "인터랩" ? "checked" : "" %>/>인터랩
                  </div>
                </td>
                <td class="h-header">담당팀</td>
                <td class="h-content">
                  <input type="text" name="team_name" value="<%= editing ? campaign.team.name : team.name %> 팀" required readonly/>
                </td>
                <td class="h-header">담당자</td>
                <td class="h-content">
                  <input type="text" name="user_name" value="<%= editing ? campaign.pic : user.name %>" required readonly/>
                </td>
              </tr>
              <tr>
                <td class="h-header">광고주</td>
                <td class="h-content">
                  <% if (!editing) { %> 
                  <input type="hidden" name="cam_advertiser_id" id="cam-advertiser-id"/>
                  <% } %>
                  <input class="max-width" type="text" id="cam-advertiser" value="<%= editing ? campaign.advertiser.name : '' %>" required <%= editing ? "readonly" : "" %> />
                </td>
                <td class="h-header">업종(대분류)</td>
                <td class="h-content">
                  <input type="text" id="cam-main-cat" value="<%= editing ? campaign.advertiser.adSubCategory.adMainCategory.name:'' %>" required readonly/>
                </td>
                <td class="h-header">업종(소분류)</td>
                <td class="h-content">
                  <input type="text" id="cam-sub-cat" value="<%= editing ? campaign.advertiser.adSubCategory.name:'' %>" required readonly/>
                </td>
              </tr>
              <tr>
                <td class="h-header">캠페인명</td>
                <td class="h-content">
                  <input class="max-width" type="text" name="cam_title" id="cam-title" value="<%= editing ? campaign.title : '' %>" required/>
                </td>
                <td class="h-header">대행사</td>
                <td class="h-content">
                  <% if (!editing) { %> 
                  <input type="hidden" name="cam_agency_id" id="cam-agency-id" />
                  <% } %>
                  <input class="max-width" type="text" id="cam-agency" value="<%= editing ? campaign.agency.name : '' %>" required <%= editing ? "readonly" : "" %>/>
                </td>
                <td class="h-header">캠페인기간</td>
                <td class="h-content">
                  <input
                    class="input-date"
                    type="date"
                    name="cam_start_date"
                    id="cam-start-date"
                    value="<%= editing ? `${campaign.period_begin.getFullYear()}-${(campaign.period_begin.getMonth()+1).toString().padStart(2,'0')}-${campaign.period_begin.getDate().toString().padStart(2,'0')}` : ''%>"
                    required
                  />
                  &nbsp~&nbsp
                  <input
                    class="input-date"
                    type="date"
                    name="cam_end_date"
                    id="cam-end-date"
                    value="<%= editing ? `${campaign.period_end.getFullYear()}-${(campaign.period_end.getMonth()+1).toString().padStart(2,'0')}-${campaign.period_end.getDate().toString().padStart(2,'0')}` : ''%>"
                    required
                  />
                  &nbsp&nbsp
                  <button style="font-size: 10px; padding: 1px 2px;" type="button" id="set-date">맞춤</button>
                </td>
              </tr>
              <tr>
                <td class="h-header">광고수주액</td>
                <td class="h-content">
                  <input
                    class="input-num max-sixty-width"
                    type="text"
                    name="cam_ad_total"
                    value="<%= editing ? campaign.ad_fee : 0 %> "
                    readonly
                    id="cam-ad-total"
                    required
                  />&nbsp&nbsp원
                </td>
                <td class="h-header">대행사 수수료</td>
                <td class="h-content">
                  <input
                    class="input-num"
                    type="text"
                    value="<%= editing ? (campaign.agency_fee / campaign.ad_fee * 100).toFixed(2) : 0 %> "
                    readonly
                    id="cam-agency-fee-rate"
                    size="4"
                    required
                  />&nbsp&nbsp%&nbsp&nbsp&nbsp&nbsp
                  <input
                    class="input-num max-sixty-width"
                    type="text"
                    name="cam_agency_fee"
                    value="<%= editing ? campaign.agency_fee : 0 %> "
                    readonly
                    id="cam-agency-fee"
                    size="12"
                    required
                  />&nbsp&nbsp원
                  <input type="hidden" name="cam_media_fee" id="cam-media-fee" value="<%= editing ? campaign.media_fee : 0 %> ">
                  <input type="hidden" name="cam_dplan_fee" id="cam-dplan-fee" value="<%= editing ? campaign.dplan_fee : 0 %> ">
                  <input type="hidden" name="cam_inter_fee" id="cam-inter-fee" value="<%= editing ? campaign.agency_fee : 0 %> ">
                </td>
                <td class="h-header">대행사 세금계산서 발행월</td>
                <td class="h-content">
                  <input class="input-date" type="month" name="cam_tax_month" id="cam-tax-month"
                  value="<%= editing ? `${campaign.tax_date.getFullYear()}-${(campaign.tax_date.getMonth()+1).toString().padStart(2,'0')}` : '' %>" required/>
                  &nbsp&nbsp
                  <select name="media_issue_type" id="media-issue-type">
                    <option value="전액" <%= editing && campaign.issue_type === '전액' ? 'selected' : '' %>>전액</option>
                    <option value="순액" <%= editing && campaign.issue_type === '순액' ? 'selected' : '' %>>순액</option>
                  </select>
                  <input type="hidden" id="agency-pay-condition" value="<%= editing ? campaign.agency.pay_condition : '' %> ">
                </td>
              </tr>
            </table>
          </div>
          
          <button style="margin: 0 1.1vw;" type="button" id="media-modal-btn">매체추가</button>
          
          <div class="v-part scrollable">
            <table id="media-table">
              <tr>
                <th class="v-header" rowspan="2" style="width: 7rem;">매체명</th>
                <th class="v-header" colspan="2">기간</th>
                <th class="v-header" colspan="2">인터랩</th>
                <th class="v-header" colspan="4">수수료율 (%)</th>
                <th class="v-header" rowspan="2" style="width: 6.9rem">광고수주액</th>
                <th class="v-header" colspan="4">수익배분액</th>
                <th class="v-header" rowspan="2" style="width: 8.8rem;">귀속시기</th>
                <th class="v-header" rowspan="2" style="width: 8.8rem;">대행사입금일</th>
                <th class="v-header" rowspan="2" style="width: 8.8rem;">매체발행월</th>
                <th class="v-header" rowspan="2" style="width: 8.8rem;">매체입금일</th>
                <th class="v-header" rowspan="2" style="width: 4.7rem">구글CID</th>
                <th class="v-header" rowspan="2" style="width: 5.9rem">비고</th>
                <th class="v-header" rowspan="2" style="width: 2.8rem;">삭제</th>
              </tr>
              <tr>
                <th class="v-header" style="width:8.8rem">시작일</th>
                <th class="v-header" style="width:8.8rem">종료일</th>
                <th class="v-header" style="width:4rem">구분</th>
                <th class="v-header" style="width:8.8rem">인터랩</th>
                <th class="v-header" style="width:3.9rem">대행사</th>
                <th class="v-header" style="width:3.9rem">매체</th>
                <th class="v-header" style="width:3.9rem">디플랜</th>
                <th class="v-header" style="width:3.9rem">인터렙</th>
                <th class="v-header" style="width:6.9rem">대행사수수료</th>
                <th class="v-header" style="width:6.9rem">매체수수료</th>
                <th class="v-header" style="width:6.9rem">순매출</th>
                <th class="v-header" style="width:6.9rem">인터렙수수료</th>
              </tr>

              <% if (editing) { %>
                <% mediaItems.forEach(mediaItem => { %>
                <input type="hidden" name="mediaItem_id" value="<%= mediaItem.id %>"/>
                <tr class="<%= Date.parse(mediaItem.issue_date) >= blockCondition ? '' : 'blocked' %>" >
                  <input type="hidden" name="realupdated_mediaItem_id" value="<%= mediaItem.id %>"/>
                  <td>
                    <input type="hidden" name="media_id" value="<%= mediaItem.mediumId %>" />
                    <input type="text" value="<%= mediaItem.medium.name %>" style="width:88px" required readonly/>
                  </td>
                  <td>
                    <input class="input-date" type="date" name="media_start"
                    value="<%=`${mediaItem.media_start.getFullYear()}-${(mediaItem.media_start.getMonth()+1).toString().padStart(2,'0')}-${mediaItem.media_start.getDate().toString().padStart(2,'0')}`%>"
                    required
                    <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %> />
                  </td>
                  <td>
                    <input class="input-date" type="date" name="media_end"
                    value="<%=`${mediaItem.media_end.getFullYear()}-${(mediaItem.media_end.getMonth()+1).toString().padStart(2,'0')}-${mediaItem.media_end.getDate().toString().padStart(2,'0')}`%>"
                    required
                    <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %> />
                  </td>
                  <td>
                    <select name="lower_inter_type">
                      <% if (Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth || mediaItem.inter_type === "" ) { %>
                      <option value="" <%= mediaItem.inter_type === "" ? "selected" : "" %>>&emsp;&emsp;</option>
                      <% } %>
                      <% if (Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth || mediaItem.inter_type === "in" ) { %>
                      <option value="in" <%= mediaItem.inter_type === "in" ? "selected" : "" %>>in</option>
                      <% } %>
                      <% if (Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth || mediaItem.inter_type === "out" ) { %>
                      <option value="out" <%= mediaItem.inter_type === "out" ? "selected" : "" %>>out</option>
                      <% } %>
                    </select>
                  </td>
                  <td >
                    <input
                      name="lower_inter_name"
                      style="width:6rem"
                      type="text"
                      value="<%= mediaItem.inter_name %>"
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:2.5rem"
                      type="text"
                      name="lower_agency_fee_rate"
                      value="<%= (mediaItem.agency_fee / mediaItem.ad_fee * 100).toFixed(2)%>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:2.5rem"
                      type="text"
                      name="lower_media_fee_rate"
                      value="<%= (mediaItem.media_fee / mediaItem.ad_fee * 100).toFixed(2)%>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:2.5rem"
                      type="text"
                      name="lower_dplan_fee_rate"
                      value="<%= (mediaItem.dplan_fee / mediaItem.ad_fee * 100).toFixed(2)%>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:2.5rem"
                      type="text"
                      name="lower_inter_fee_rate"
                      value="<%= (mediaItem.inter_fee / mediaItem.ad_fee * 100).toFixed(2)%>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:88px"
                      type="text"
                      name="lower_ad_fee"
                      value="<%= mediaItem.ad_fee %>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:88px"
                      type="text"
                      name="lower_agency_fee"
                      value="<%= mediaItem.agency_fee %>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:88px"
                      type="text"
                      name="lower_media_fee"
                      value="<%= mediaItem.media_fee %>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:88px"
                      type="text"
                      name="lower_dplan_fee"
                      value="<%= mediaItem.dplan_fee %>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:88px"
                      type="text"
                      name="lower_inter_fee"
                      value="<%= mediaItem.inter_fee %>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                      name="lower_attribution_time"
                      type="month"
                      value="<%=`${mediaItem.attribution_time.getFullYear()}-${(mediaItem.attribution_time.getMonth()+1).toString().padStart(2,'0')}`%>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input class="input-date" type="date" name="agency_deposit_date"
                    value="<%=`${mediaItem.agency_deposit_date.getFullYear()}-${(mediaItem.agency_deposit_date.getMonth()+1).toString().padStart(2,'0')}-${mediaItem.agency_deposit_date.getDate().toString().padStart(2,'0')}`%>"
                    required
                    <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %> />
                  </td>
                  <td>
                    <div style="display:flex;align-items:center;justify-content:center;">
                      <input class="input-date" type="month" name="lower_issue_date"
                      value="<%= `${mediaItem.issue_date.getFullYear()}-${(mediaItem.issue_date.getMonth()+1).toString().padStart(2,'0')}`%>"
                      required
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                      />
                      <select name="lower_issue_type">
                        <% if (Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth || mediaItem.issue_type === '전액' ) { %>
                          <option value="전액" <%= mediaItem.issue_type === '전액' ? "selected" : "" %>>전액</option>
                        <% } %>
                        <% if (Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth || mediaItem.issue_type === '순액' ) { %>
                          <option value="순액" <%= mediaItem.issue_type === '순액' ? "selected" : "" %>>순액</option>
                        <% } %>
                      </select>
                    </div>
                  </td>
                  <td>
                    <input class="input-date" type="date" name="media_deposit_date"
                    value="<%=`${mediaItem.media_deposit_date.getFullYear()}-${(mediaItem.media_deposit_date.getMonth()+1).toString().padStart(2,'0')}-${mediaItem.media_deposit_date.getDate().toString().padStart(2,'0')}`%>"
                    required
                    <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %> />
                  </td>
                  <td>
                    <input
                      class="input-num"
                      style="width:6rem"
                      type="text"
                      name="google_cid"
                      value="<%= mediaItem.google_cid %>"
                      <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                    />
                  </td>
                  <td>
                    <input
                    name="lower_memo"
                    style="width:68px"
                    type="text"
                    value="<%= mediaItem.memo %>"
                    <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || blockAuth ) ? "" : "readonly" %>
                  </td>
                  <td>
                    <button type="button" class="btn alert-btn" <%= ( Date.parse(mediaItem.issue_date) >= blockCondition || !blockAuth ) ? "" : "disabled" %>>삭제</button>
                  </td>
                  <td hidden>
                    <input type="hidden" value="<%= mediaItem.medium.pay_condition %>" />
                  </td>
                </tr>
                <% }) %>
              <% } %>

              <tr>
                <th class="v-total">Total</th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total input-num" id="lower-agency-fee-rate-sum">
                  0
                </th>
                <th class="v-total input-num" id="lower-media-fee-rate-sum">0</th>
                <th class="v-total input-num" id="lower-dplan-fee-rate-sum">
                  0
                </th>
                <th class="v-total input-num" id="lower-inter-fee-rate-sum">
                  0
                </th>
                <th class="v-total input-num" id="lower-ad-fee-sum">0</th>
                <th class="v-total input-num" id="lower-agency-fee-sum">0</th>
                <th class="v-total input-num" id="lower-media-fee-sum">0</th>
                <th class="v-total input-num" id="lower-dplan-fee-sum">0</th>
                <th class="v-total input-num" id="lower-inter-fee-sum">0</th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
              </tr>
            </table>
          </div>
          <div class="submit-btns">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" id="submit-btn" <%= editing ? '' : 'disabled' %>><%= editing ? '수정' : '저장' %></button>
            <a href="<%= editing ? `/campaign/${campaign.id}` : '/' %>" ><button type="button">취소</button></a>
          </div>
          <input type='hidden' name="media_count" id="media-count" value="<%= editing ? mediaItems.length : '0' %>"/>
        </form>
      </main>
    </div>
    <div id="advertiser-ul" hidden>
      <% if (!editing) { %> 
      <% advertisers.forEach(advertiser => { %>
        <ul>
          <li><%= advertiser.id %></li>
          <li><%= advertiser.name %></li>
          <li><%= advertiser.adSubCategoryId %></li>
        </ul>
      <% }) %>
      <% } %>
    </div>
    <div id="agency-ul" hidden>
      <% if (!editing) { %> 
      <% agencies.forEach(agency => { %>
        <ul>
          <li><%= agency.id %></li>
          <li><%= agency.name %></li>
          <li><%= agency.pay_condition %></li>
          <li><%= agency.deposit_type %></li>
          <li><%= agency.bill_type %></li>
        </ul>
      <% }) %> 
      <% } %>
    </div>
    <div id="main-ul" hidden>
      <% if (!editing) { %> 
      <% mains.forEach(main =>{ %>
        <ul>
          <li><%= main.id %></li>
          <li><%= main.name %></li>
        </ul>
      <% }) %>
      <% } %>
    </div>
    <div id="sub-ul" hidden>
      <% if (!editing) { %> 
      <% subs.forEach(sub =>{ %>
        <ul>
          <li><%= sub.id %></li>
          <li><%= sub.name %></li>
          <li><%= sub.adMainCategoryId %></li>
        </ul>
      <% }) %>
      <% } %>
    </div>
    <div id="media-ul" hidden>
      <% media.forEach(medium =>{ %>
        <ul>
          <li><%= medium.id %></li>
          <li><%= medium.name %></li>
          <li><%= medium.pay_condition %></li>
          <li><%= medium.bill_type %></li>
          <li><%= medium.provide_fee_rate %></li>
          <li><%= medium.inter_type %></li>
          <li><%= medium.inter_name %></li>
          <li><%= medium.agency_fee_rate %></li>
          <li><%= medium.media_fee_rate %></li>
          <li><%= medium.dplan_fee_rate %></li>
          <li><%= medium.inter_fee_rate %></li>
        </ul>
      <% }) %>
    </div>
    </div>

    <script src="/auto-complete/autocomplete.js"></script>
    <script src="/js/num-format.js"></script>
    <script src="/js/work/auto-calculator.js"></script>
    <script src="/js/deposit-calculator.js"></script>
    <script src="/js/work/edit-campaign.js"></script>
    <script src="/js/work/media-modal.js"></script>
    

  <%- include('../includes/end-part.ejs') %>
