<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/auto-complete/autocomplete.css" />
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>
      
        <form action="/media-sales" method="GET" onkeydown="return event.key != 'Enter';">
          <input type="submit" id="submit-button" hidden>
          <div class="v-part sort-part">
            <table id="condition-table">
              <tr>
                <th class="h-header">매체선택</th>
                <th class="h-header">시작월</th>
                <th class="h-header">종료월</th>
              </tr>
              <tr>
                <td>
                  <input type="hidden" name="medium" id="media-id" value="<%= sortInfo.medium %>">
                  <input type="text" id="media-input" value="<%= !sortInfo.medium ? '' : media.find(x => +x.id === +sortInfo.medium).name %>">
                </td>
                <td>
                  <input type="month" name="start_month" value="<%= sortInfo.start_month %>" id="start-date">
                </td>
                <td>
                  <input type="month" name="end_month" value="<%= sortInfo.end_month %>" id="end-date">
                </td>
              </tr>
            </table>
          </div>


          <div class="v-part result-part">
            <table id="result-table">
              <tr>
                <th class="v-header" rowspan="2" style="width: 3rem;">담당팀</th>
                <th class="v-header" rowspan="2" style="width: 10.6rem;">광고주</th>
                <th class="v-header" rowspan="2" style="width: 13.1rem;">캠페인명</th>
                <th class="v-header" rowspan="2" style="width: 10.6rem;">대행사</th>
                <th class="v-header" rowspan="2" style="width: 10.6rem;">매체</th>
                <th class="v-header" colspan="2">인터렙</th>
                <th class="v-header" rowspan="2" style="width: 5.6rem;">광고수주액</th>
                <th class="v-header" colspan="4">수익배분액</th>
                <th class="v-header" rowspan="2"  style="width: 5.6rem;">매체발행월</th>
              </tr>
              <tr>
                <th class="v-header" style="width: 2.5rem;">구분</th>
                <th class="v-header" style="width: 10.6rem;">인터렙사</th>
                <th class="v-header" style="width: 5.6rem;">대행사 수수료</th>
                <th class="v-header" style="width: 5.6rem;">매체 수수료</th>
                <th class="v-header" style="width: 5.6rem;">순매출</th>
                <th class="v-header" style="width: 5.6rem;">인터렙 수수료</th>
              </tr>
              <tr>
                <th class="v-total">Total</th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total">0</th>
                <th class="v-total">0</th>
                <th class="v-total">0</th>
                <th class="v-total">0</th>
                <th class="v-total"></th>
              </tr>
              <% mediaItems.forEach(mediaItem => { %>
                <tr>
                  <td><%= mediaItem.campaign.team.name %> 팀</td>
                  <td><%= mediaItem.campaign.advertiser.name %></td>
                  <td><a href="/campaign/<%= mediaItem.campaign.id %>"><%= mediaItem.campaign.title %></a></td>
                  <td><%= mediaItem.campaign.agency.name %></td>
                  <td><%= mediaItem.medium.name %></td>
                  <td><%= mediaItem.dataValues.inter_type %></td>
                  <td><%= mediaItem.dataValues.inter_name %></td>
                  <td><%= mediaItem.dataValues.ad_fee %></td>
                  <td><%= mediaItem.dataValues.agency_fee %></td>
                  <td><%= mediaItem.dataValues.media_fee %></td>
                  <td><%= mediaItem.dataValues.dplan_fee %></td>
                  <td><%= mediaItem.dataValues.inter_fee %></td>
                  <td><%= mediaItem.dataValues.issue_date.getFullYear() %>년 <%= mediaItem.dataValues.issue_date.getMonth()+1 %>월</td>
                </tr>
              <% }) %>
            </table>
          </div>
        </form>
      </main>
    </div>
    </div>
    <div id="media-ul" hidden>
      <% media.forEach(medium =>{ %>
        <ul>
          <li><%= medium.id %></li>
          <li><%= medium.name %></li>
        </ul>
      <% }) %>
    </div>

    <script src="/auto-complete/autocomplete.js"></script>
    <script src="/js/num-format.js"></script>
    <script src="/js/work/media-sale.js"></script>

  <%- include('../includes/end-part.ejs') %>
