<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
    <link rel="stylesheet" href="/auto-complete/autocomplete.css">
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>
      
      <%- include('../includes/menu-title.ejs') %>

        <form action="/sales" method="GET" onkeydown="return event.key != 'Enter';">
          <input type="submit" id="submit-button" hidden>
          <div class="v-part sort-part">
            <table id="condition-table">
              <tr>
                <th class="h-header">팀선택</th>
                <th class="h-header">시작월</th>
                <th class="h-header">종료월</th>
                <th class="h-header">대행사</th>
                <th class="h-header">광고주</th>
                <th class="h-header" rowspan="2"><p class="excel-download" id="excel-download">엑셀다운로드</p></th>
              </tr>
              <tr>
                <td>
                  <select name="team">
                    <option value="" <%= sortInfo.team === "" ? "selected" : "" %>>전체보기</option>
                    <% teams.forEach(team => { %>
                      <option value="<%= team.id %>" <%= sortInfo.team == team.id ? "selected" : "" %>><%= team.name %> 팀</option>  
                    <% }) %>
                  </select>
                </td>
                <td>
                  <input type="month" name="start_month" value="<%= sortInfo.start_month %>" id="start-date">
                </td>
                <td>
                  <input type="month" name="end_month" value="<%= sortInfo.end_month %>" id="end-date">
                </td>
                <td>
                  <input type="hidden" name="agency" id="agency-id" value="<%= sortInfo.agency %>">
                  <input type="text" id="agency-input" style="width:160px" value="<%= !sortInfo.agency ? '' : agencies.find(x => +x.id === +sortInfo.agency).name %>">
                </td>
                <td>
                  <input type="hidden" name="advertiser" id="advertiser-id" value="<%= sortInfo.advertiser %>">
                  <input type="text" id="advertiser-input" style="width:140px" value="<%= !sortInfo.advertiser ? '' : advertisers.find(x => +x.id === +sortInfo.advertiser).name %>">
                </td>
              </tr>
            </table>
          </div>

          <div class="v-part result-part">
            <table id="result-table">
              <tr>
                <th class="v-header" rowspan="2" style="width: 40px;">담당팀</th>
                <th class="v-header" rowspan="2" style="width: 50px;">연도</th>
                <th class="v-header" rowspan="2" style="width: 40px;">월</th>
                <th class="v-header" rowspan="2" style="width: 180px;">광고주</th>
                <th class="v-header" rowspan="2" style="width: 210px;">캠페인명</th>
                <th class="v-header" rowspan="2" style="width: 180px;">대행사</th>
                <th class="v-header" rowspan="2" style="width: 90px;">광고수주액</th>
                <th class="v-header" colspan="4">수익배분액</th>
              </tr>
              <tr>
                <th class="v-header" style="width: 90px;">대행사 수수료</th>
                <th class="v-header" style="width: 90px;">매체 수수료</th>
                <th class="v-header" style="width: 90px;">순매출</th>
                <th class="v-header" style="width: 90px;">인터렙 수수료</th>
              </tr>
              <tr>
                <th class="v-total">Total</th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
              </tr>
              <% campaigns.forEach(campaign => { %>
                <tr>
                  <td><%= teams.find(team => +team.id === +campaign.teamId).name %> 팀</td>
                  <td><%= campaign.tax_date.getFullYear() %> 년</td>
                  <td><%= campaign.tax_date.getMonth()+1 %> 월</td>
                  <td><%= advertisers.find(advertiser => advertiser.id === campaign.advertiserId).name %></td>
                  <td><a href="/campaign/<%= campaign.id %>"><%= campaign.title %></a></td>
                  <td><%= agencies.find(agency => agency.id === campaign.agencyId).name %></td>
                  <td><%= campaign.ad_fee %></td>
                  <td><%= campaign.agency_fee %></td>
                  <td><%= campaign.media_fee %></td>
                  <td><%= campaign.dplan_fee %></td>
                  <td><%= campaign.inter_fee %></td>
                </tr>
              <% }) %>
            </table>
          </div>
        </form>
      </main>
    </div>
    <div id="advertiser-ul" hidden>
      <% advertisers.forEach(advertiser => { %>
        <ul>
          <li><%= advertiser.id %></li>
          <li><%= advertiser.name %></li>
        </ul>
      <% }) %>
    </div>
    <div id="agency-ul" hidden>
      <% agencies.forEach(agency => { %>
        <ul>
          <li><%= agency.id %></li>
          <li><%= agency.name %></li>
        </ul>
      <% }) %> 
    </div>

    <script src="/auto-complete/autocomplete.js"></script>
    <script src="/js/num-format.js"></script>
    <script src="/js/work/sale.js"></script>
  <%- include('../includes/end-part.ejs') %>
