<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>
      <main>
        <h3> ➣&nbsp&nbsp<%= menuTitle %></h3>
        <hr />
        <form action="/sales" method="GET">
          <input type="submit" id="submit-button" hidden>
          <div class="v-part sort-part">
            <table id="condition-table">
              <tr>
                <th class="h-header">팀선택</th>
                <th class="h-header">시작월</th>
                <th class="h-header">종료월</th>
                <th class="h-header">대행사</th>
                <th class="h-header">광고주</th>
                <th class="h-header" rowspan="2"><p class="excel-download" id="excel-download">엑셀다운로드</p></th>
              </tr>
              <tr>
                <td>
                  <select name="team" id="">
                    <option value="" <%= sortInfo.team === "" ? "selected" : "" %>>전체보기</option>
                    <% teams.forEach(team => { %>
                      <option value="<%= team.id %>" <%= sortInfo.team == team.id ? "selected" : "" %>><%= team.name %> 팀</option>  
                    <% }) %>
                  </select>
                </td>
                <td>
                  <input type="month" name="start_month" value="<%= sortInfo.start_month %>">
                </td>
                <td>
                  <input type="month" name="end_month" value="<%= sortInfo.end_month %>">
                </td>
                <td>
                  <select name="agency" id="">
                    <option value="" <%= sortInfo.agency === "" ? "selected" : "" %>>전체보기</option>
                    <% agencies.forEach(agency => { %>
                      <option value="<%= agency.id %>" <%= sortInfo.agency == agency.id ? "selected" : "" %>><%= agency.name %></option>  
                    <% }) %>
                  </select>
                </td>
                <td>
                  <select name="advertiser" id="">
                    <option value="" <%= sortInfo.advertiser === "" ? "selected" : "" %>>전체보기</option>
                    <% advertisers.forEach(advertiser => { %>
                      <option value="<%= advertiser.id %>" <%= sortInfo.advertiser == advertiser.id ? "selected" : "" %>><%= advertiser.name %></option>  
                    <% }) %>
                  </select>
                </td>
              </tr>
            </table>
          </div>

          <div class="v-part result-part">
            <table id="result-table">
              <tr>
                <th class="v-header" rowspan="2" style="width: 40px;">담당팀</th>
                <th class="v-header" rowspan="2" style="width: 50px;">연도</th>
                <th class="v-header" rowspan="2" style="width: 40px;">월</th>
                <th class="v-header" rowspan="2" style="width: 180px;">광고주</th>
                <th class="v-header" rowspan="2" style="width: 210px;">캠페인명</th>
                <th class="v-header" rowspan="2" style="width: 180px;">대행사</th>
                <th class="v-header" rowspan="2" style="width: 90px;">광고수주액</th>
                <th class="v-header" colspan="4">수익배분액</th>
              </tr>
              <tr>
                <th class="v-header" style="width: 90px;">대행사 수수료</th>
                <th class="v-header" style="width: 90px;">매체 수수료</th>
                <th class="v-header" style="width: 90px;">순매출</th>
                <th class="v-header" style="width: 90px;">인터렙 수수료</th>
              </tr>
              <tr>
                <th class="v-total">Total</th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
                <th class="v-total"></th>
              </tr>
              <% mediaItems.forEach(mediaItem => { %>
                <tr>
                  <td>1 팀</td>
                  <td><%= mediaItem.dataValues.attribution_time.getFullYear() %> 년</td>
                  <td><%= mediaItem.dataValues.attribution_time.getMonth()+1 %> 월</td>
                  <td><%= advertisers.find(advertiser => advertiser.id === mediaItem.campaign.advertiserId).name %></td>
                  <td><a href="/campaign/<%= mediaItem.dataValues.campaignId %>"><%= mediaItem.campaign.title %></a></td>
                  <td><%= agencies.find(agency => agency.id === mediaItem.campaign.agencyId).name %></td>
                  <td><%= mediaItem.dataValues.ad_fee %></td>
                  <td><%= mediaItem.dataValues.agency_fee %></td>
                  <td><%= mediaItem.dataValues.media_fee %></td>
                  <td><%= mediaItem.dataValues.dplan_fee %></td>
                  <td><%= mediaItem.dataValues.inter_fee %></td>
                </tr>
              <% }) %>
            </table>
          </div>
        </form>
      </main>
    </div>

    <script src="/js/num-format.js"></script>
    <script src="/js/work/sale.js"></script>
  <%- include('../includes/end-part.ejs') %>
