<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>
      
        <form action="/sales" method="GET" onkeydown="return event.key != 'Enter';" style="height: 100%;">
          
          <div class="sort-line">
            <select name="type">
              <option value="attribution" <%= sortInfo.type === "attribution" ? "selected" : "" %>>매출 귀속월</option>
              <option value="taxdate" <%= sortInfo.type === "taxdate" ? "selected" : "" %>>대행사 발행월</option>
              <option value="issuedate" <%= sortInfo.type === "issuedate" ? "selected" : "" %>>매체 발행월</option>
            </select>
            <select name="team">
              <option value="" <%= sortInfo.team === "" ? "selected" : "" %>>팀 전체</option>
              <% teams.forEach(team => { %>
                <option value="<%= team.id %>" <%= sortInfo.team == team.id ? "selected" : "" %>><%= team.name %> 팀</option>  
              <% }) %>
            </select>
            <select name="year">
              <% for (let i = 2019 ; i <= new Date().getFullYear()+1 ; i++) { %>
                <option value="<%= i %>" <%= sortInfo.year === i ? "selected" : "" %>><%= i %></option>
              <% } %>
            </select>
            <select name="period">
              <option value="" <%= sortInfo.period == "" ? "selected" : "" %>>전체기간</option>
              <% for (let i = 1 ; i <= 4 ; i++) { %>
                <option value="quarter-<%= i %>" <%= sortInfo.period == `quarter-${i}` ? "selected" : "" %>><%= i %>분기</option>
              <% } %>
              <% for (let i = 1 ; i <= 12 ; i++) { %>
                <option value="month-<%= i %>" <%= sortInfo.period == `month-${i}` ? "selected" : "" %>><%= i %>월</option>
              <% } %>
            </select>
            <input type='hidden' value="<%= sortInfo.advertiser %>" name="advertiser" >
            <input type='hidden' value="<%= sortInfo.agency %>" name="agency" >
            <input type='hidden' value="<%= sortInfo.medium %>" name="medium" >
            <button type="submit">조회</button>
          </div>
        
          <div class="v-part result-part scrollable" style="height: calc(100% - 7.5rem);">
            <table id="result-table">
              <tr>
                <th class="v-header" rowspan="2">담당팀</th>
                <th class="v-header" rowspan="2">광고주</th>
                <th class="v-header" rowspan="2">캠페인명</th>
                <th class="v-header" rowspan="2">대행사</th>
                <th class="v-header" rowspan="2">매체</th>
                <th class="v-header" rowspan="2">광고수주액</th>
                <th class="v-header" colspan="4">수익배분액</th>
                <th class="v-header" colspan="4">수수료율</th>
                <th class="v-header" colspan="2">대행사 발행월</th>
                <th class="v-header" colspan="2">매체 발행월</th>
                <th class="v-header" rowspan="2">귀속시기</th>
              </tr>
              <tr>
                <th class="v-header">대행사</th>
                <th class="v-header">매체</th>
                <th class="v-header">순매출</th>
                <th class="v-header">인터렙</th>
                <th class="v-header">대행사</th>
                <th class="v-header">매체</th>
                <th class="v-header">디플랜</th>
                <th class="v-header">인터렙</th>
                <th class="v-header">월</th>
                <th class="v-header">전액/순액</th>
                <th class="v-header">월</th>
                <th class="v-header">전액/순액</th>
              </tr>
              <tr>
                <th class="v-total" style="font-weight: bold;">합계</th>
                <% for (let i = 0 ; i < 4 ; i++) { %>
                  <th class="v-total"></th>
                <% } %>
                <th class="v-total"><%= new Intl.NumberFormat().format(total.adSum) %></th>
                <th class="v-total"><%= new Intl.NumberFormat().format(total.agencySum) %></th>
                <th class="v-total"><%= new Intl.NumberFormat().format(total.mediaSum) %></th>
                <th class="v-total"><%= new Intl.NumberFormat().format(total.dplanSum) %></th>
                <th class="v-total"><%= new Intl.NumberFormat().format(total.interSum) %></th>
                <th class="v-total"><%= total.adSum === 0 || total.agencySum < 0 ? "0.00" : (total.agencySum / total.adSum * 100).toFixed(2) %> %</th>
                <th class="v-total"><%= total.adSum === 0 || total.mediaSum < 0 ? "0.00" : (total.mediaSum / total.adSum * 100).toFixed(2) %> %</th>
                <th class="v-total"><%= total.adSum === 0 || total.dplanSum < 0 ? "0.00" : (total.dplanSum / total.adSum * 100).toFixed(2) %> %</th>
                <th class="v-total"><%= total.adSum === 0 || total.interSum < 0 ? "0.00" : (total.interSum / total.adSum * 100).toFixed(2) %> %</th>
                <% for (let i = 0 ; i < 5 ; i++) { %>
                  <th class="v-total"></th>
                <% } %>
              </tr>
              <% mediaItems.forEach(mediaItem => { %>
                <tr>
                  <td><%= mediaItem.campaign.team.name %> 팀</td>
                  <td><%= mediaItem.campaign.advertiser.name %></td>
                  <td><a href="/campaign/<%= mediaItem.campaign.id %>"><%= mediaItem.campaign.title %></a></td>
                  <td><%= mediaItem.campaign.agency.name %></td>
                  <td><%= mediaItem.medium.name %></td>
                  <td><%= new Intl.NumberFormat().format(mediaItem.ad_fee) %></td>
                  <td><%= new Intl.NumberFormat().format(mediaItem.agency_fee) %></td>
                  <td><%= new Intl.NumberFormat().format(mediaItem.media_fee) %></td>
                  <td><%= new Intl.NumberFormat().format(mediaItem.dplan_fee) %></td>
                  <td><%= new Intl.NumberFormat().format(mediaItem.inter_fee) %></td>
                  <td><%= (mediaItem.agency_fee / mediaItem.ad_fee * 100).toFixed(2) %> %</td>
                  <td><%= (mediaItem.media_fee / mediaItem.ad_fee * 100).toFixed(2) %> %</td>
                  <td><%= (mediaItem.dplan_fee / mediaItem.ad_fee * 100).toFixed(2) %> %</td>
                  <td><%= (mediaItem.inter_fee / mediaItem.ad_fee * 100).toFixed(2) %> %</td>
                  <td><%= mediaItem.tax_date.getFullYear() %>년 <%= mediaItem.tax_date.getMonth()+1 %>월</td>
                  <td><%= mediaItem.campaign.issue_type %></td>
                  <td><%= mediaItem.issue_date.getFullYear() %>년 <%= mediaItem.issue_date.getMonth()+1 %>월</td>
                  <td><%= mediaItem.issue_type %></td>
                  <td><%= mediaItem.attribution_time.getFullYear() %>년 <%= mediaItem.attribution_time.getMonth()+1 %>월</td>
                </tr>
              <% }) %>
            </table>
          </div>
        </form>
      </main>
    </div>
    </div>

  <%- include('../includes/end-part.ejs') %>
