<%- include('../includes/first-part.ejs') %>
    <link rel="stylesheet" href="/css/table.css" />
  </head>
  <body>
    <div class="wrapper">
    <%- include('../includes/header.ejs') %>

    <div class="container">
      <%- include('../includes/nav.ejs') %>

      <%- include('../includes/menu-title.ejs') %>
      
        <form action="/tax-bill" method="GET">
          <input type="submit" id="submit-button" hidden>
          <div class="v-part sort-part">
            <table id="condition-table">
              <tr>
                <th class="h-header" style="height:1.4rem" colspan="2">대행사 발행월</th>
                <th class="h-header" style="height:1.4rem" colspan="2">매체 발행월</th>
                <th class="h-header" rowspan="3"><p class="excel-download" id="excel-download">엑셀다운로드</p></th>
              </tr>
              <tr>
                <th class="h-header" style="height:1.4rem">시작월</th>
                <th class="h-header" style="height:1.4rem">종료월</th>
                <th class="h-header" style="height:1.4rem">시작월</th>
                <th class="h-header" style="height:1.4rem">종료월</th>
              </tr>
              <tr>
                <td>
                  <input type="month" name="agency_start" value="<%= sortInfo.agency_start %>" id="agency-start-date">
                </td>
                <td>
                  <input type="month" name="agency_end" value="<%= sortInfo.agency_end %>" id="agency-end-date">
                </td>
                <td>
                  <input type="month" name="media_start" value="<%= sortInfo.media_start %>" id="media-start-date">
                </td>
                <td>
                  <input type="month" name="media_end" value="<%= sortInfo.media_end %>" id="media-end-date">
                </td>
            </table>
          </div>
        </form>

        <div class="v-part result-part scrollable">
          <table style="width:1910px;" id="result-table">
            <tr>
              <th class="v-header" rowspan="2" style="width: 40px;">담당팀</th>
              <th class="v-header" rowspan="2" style="width: 140px;">광고주</th>
              <th class="v-header" rowspan="2" style="width: 180px;">캠페인명</th>
              <th class="v-header" rowspan="2" style="width: 140px;">대행사</th>
              <th class="v-header" rowspan="2" style="width: 140px;">매체</th>
              <th class="v-header" colspan="2">인터랩</th>
              <th class="v-header" rowspan="2" style="width: 80px;">광고수주액</th>
              <th class="v-header" colspan="4">수익배분액</th>
              <th class="v-header" rowspan="2" style="width: 70px;">귀속시기</th>
              <th class="v-header" colspan="2">대행사</th>
              <th class="v-header" colspan="2">매체</th>
            </tr>
            <tr>
              <th class="v-header" style="width: 30px">구분</th>
              <th class="v-header" style="width: 100px">인터랩</th>
              <th class="v-header" style="width: 80px;">대행사수수료</th>
              <th class="v-header" style="width: 80px;">매체수수료</th>
              <th class="v-header" style="width: 80px;">순매출</th>
              <th class="v-header" style="width: 80px;">인터랩수수료</th>
              <th class="v-header" style="width: 100px;">발행월</th>
              <th class="v-header" style="width: 100px;">입금일</th>
              <th class="v-header" style="width: 100px;">발행월</th>
              <th class="v-header" style="width: 100px;">입금일</th>
            </tr>
            <tr>
              <th class="v-total">Total</th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
              <th class="v-total"></th>
            </tr>
            <% mediaItems.forEach(mediaItem => { %>
              <tr>
                <td><%= mediaItem.campaign.team.name %> 팀</td>
                <td><div class="text-overflow" style="width: 122px;"><%= mediaItem.campaign.advertiser.name %></div></td>
                <td><div class="text-overflow" style="width: 162px;"><a href="/campaign/<%= mediaItem.campaignId %>"><%= mediaItem.campaign.title %></a></div></td>
                <td><div class="text-overflow" style="width: 122px;"><%= mediaItem.campaign.agency.name %></div></td>
                <td><div class="text-overflow" style="width: 122px;"><%= mediaItem.medium.name %></div></td>
                <td><%= mediaItem.inter_type %></td>
                <td><div class="text-overflow" style="width: 72px;"><%= mediaItem.inter_name %></div></td>
                <td><%= mediaItem.ad_fee %></td>
                <td><%= mediaItem.agency_fee %></td>
                <td><%= mediaItem.media_fee %></td>
                <td><%= mediaItem.dplan_fee %></td>
                <td><%= mediaItem.inter_fee %></td>
                <td><%= mediaItem.attribution_time.getFullYear() %>년 <%= mediaItem.attribution_time.getMonth()+1 %>월</td>
                <td><%= mediaItem.attribution_time.getFullYear() %>년 <%= mediaItem.attribution_time.getMonth()+1 %>월</td>
                <td><%= mediaItem.agency_deposit_date.getFullYear() %>년 <%= mediaItem.agency_deposit_date.getMonth()+1 %>월 <%= mediaItem.agency_deposit_date.getDate() %>일</td>
                <td><%= mediaItem.issue_date.getFullYear() %>년 <%= mediaItem.issue_date.getMonth()+1 %>월</td>
                <td><%= mediaItem.media_deposit_date.getFullYear() %>년 <%= mediaItem.media_deposit_date.getMonth()+1 %>월 <%= mediaItem.media_deposit_date.getDate() %>일</td>
              </tr>
            <% }) %>
          </table>
       </div>        
      </main>
    </div>
    </div>

    <script src="/js/num-format.js"></script>
    <script src="/js/work/tax-bill.js"></script>
  <%- include('../includes/end-part.ejs') %>
